<div>
    <div class="container-fluid footer-top"> 
        <div class="row">
            <ul class="footer-top-content">
                <li class="col-md-4"><a class="fa fa-institution" style="font-size:24px;" href="#">
                    <span>About Us</span> </a></li>
                <li class="col-md-4"><a class="fa fa-comments" style="font-size:24px; text-decoration: none;" href="#">
                    <span>Feedback</span> </a></li>
                <li class="col-md-4"><a class="fa fa-address-book" style="font-size:24px;" href="#">
                    <span>Contact Us</span> </a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid footer-bottom">
        <div class="row">
            <ul class="footer-row col-md-4">
                <li><h6>Checking &amp; Saving</h6> </li>
                <li><a href="#"> Checking </a> </li>
                <li><a href="#">Savings</a> </li>
                <li><a href="#"> Money Market  </a></li>
                <li><a href="#"> IRA CD </a></li>
                <li><a href="#"> Benefit &amp; Programs </a></li>
                <li><a href="#"> OverDraft </a></li>
            </ul>
            <ul class="footer-row col-md-4">
                <li><h6>Loans &amp; Borrowing</h6> </li>
                <li><a href="#"> Personal Loan </a> </li>
                <li><a href="#">Line of Credit</a> </li>
                <li><a href="#"> Business Loans</a></li>
                <li><a href="#"> Business Line of Credit</a></li>
            </ul>
            <ul class="footer-row col-md-4">
                <li><h6>Resources</h6> </li>
                <li><a href="#"> Order Checks </a> </li>
                <li><a href="#">Online Banking</a> </li>
                <li><a href="#"> Customer Service</a></li>
            </ul>
        </div>
        <div class="row" style="margin-top: 20px;">
                <ul class="footer-row col-md-4">
                    <li><h6>Cards</h6> </li>
                    <li><a href="#"> Credit Card </a> </li>
                    <li><a href="#"> Debit Card </a> </li>
                    <li><a href="#"> Security</a></li>
                </ul>
                <ul class="footer-row col-md-4">
                    <li><h6>Solution</h6> </li>
                    <li><a href="#"> Personal </a> </li>
                    <li><a href="#"> Investment </a> </li>
                    <li><a href="#"> Small Business </a></li>
                    <li><a href="#"> Commercial </a></li>
                </ul>
                <ul class="footer-row col-md-4">
                    <li><h6>Disclosures</h6> </li>
                    <li><a href="#"> Online Terms and Conditions </a> </li>
                    <li><a href="#"> Electronic Notice Disclosure and Consent </a> </li>
                    <li><a href="#"> Account Documents </a></li>
                    <li><a href="#"> Security, Privacy & Legal </a> </li>
                </ul>
            </div>

            <div class="container-fluid footer-bottom">
                <div class="footer-border">
                    <p>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nostrum recusandae nam. 
                     Similique deleniti magni laudantium, ab animi molestias rem eveniet aut, eos voluptates dignissimos 
                     autem cupiditate tempore placeat libero.
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio similique libero veniam amet aliquam doloribus 
                    nostrum nam qui in necessitatibus officia quod iste assumenda quis rerum suscipit quam dolores, ipsam totam? 
                    Quas optio consequuntur ducimus nisi repudiandae est non amet, animi quos deserunt eaque sed ab quidem quaerat aut, 
                    laborum doloremque a temporibus! Sint itaque eaque aperiam pariatur illum molestiae iure reprehenderit repudiandae 
                    blanditiis? Rem eaque quo suscipit nisi molestias. Beatae ex expedita facilis voluptatum quo dolorem, aut explicabo, 
                    commodi amet alias eaque ad sequi sed, suscipit perferendis ducimus doloribus asperiores porro? Libero reprehenderit 
                    enim error quaerat? Tempore maxime, veniam dolore nisi ab iusto, esse, aperiam ad repellendus quam cumque dolorem laborum! 
                    Quidem fugit rerum provident reprehenderit dignissimos molestias voluptas adipisci ipsum delectus, tenetur impedit! 
                    Provident quasi ab fugit debitis id corporis tempora. Dignissimos delectus maiores veritatis minima vitae error 
                    molestiae nesciunt nisi temporibus velit, tempora eligendi, accusantium fugiat repellat eum beatae impedit sequi quod, 
                    iste aspernatur consectetur a! Veniam temporibus molestiae culpa, iure ut libero saepe! Nesciunt vero et hic dolores 
                    excepturi est expedita! Ad, recusandae obcaecati. Voluptas, quas, saepe ab quisquam illo pariatur accusantium ad 
                    sapiente molestias temporibus ipsam tenetur sequi ipsa recusandae atque inventore expedita, repellendus numquam.
                    <br>
                    <br>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, labore. Quos deleniti beatae consectetur adipisci neque, 
                    ratione vel animi unde itaque consequatur porro sequi iure voluptates accusantium doloremque omnis provident? Itaque odit et 
                    repudiandae provident commodi cupiditate, vitae enim, reiciendis iure aspernatur accusamus? Aliquid temporibus, hic consectetur 
                    incidunt dolores veniam.
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam incidunt esse, nobis odit eum expedita cumque dicta unde minima velit dolorum soluta ullam architecto 
                    consequatur eaque, ex labore quas doloribus earum ad vitae. Et, maxime? Vitae aspernatur ea exercitationem laboriosam.
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, temporibus! Molestiae, autem facere labore itaque ipsa illum cupiditate asperiores dolore!
                    </p>
                </div>
                <div class="footer-border">
                    <ul class="container-fluid footer-util">
                        <li><h5>Follow Us: </h5></li>
                        <li><a href="#" class="	fa fa-facebook-square" style="font-size:24px"></a></li>
                        <li><a href="#" class="fa fa-twitter-square" style="font-size:24px"></a></li>
                        <li><a href="#" class="fa fa-linkedin-square" style="font-size:24px"></a></li>
                        <li><a href="#" class="	fa fa-youtube-play" style="font-size:26px; text-decoration: none;"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    



                

